// Variables

// @brand-primary: #0085A1;
@brand-primary: #F6006D;
@brand-secondary: #96E7D6;
@gray-dark: lighten(black, 30%);
@gray: lighten(black, 55%);
@gray-l: lighten(black, 80%);
@white-faded: fade(white, 80%);
@gray-light: #eee;

@twitter-theme: #41abe1;
@tumblr-theme: #36465d;
@dribbble-theme: #e24d87;
@github-theme: #4a2779;