@charset "utf-8";
/* CSS Document*/

*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
input[type="submit"], input[type="reset"], input[type="button"], select, button {
	-webkit-appearance: none;
}
html, body {
	margin:0;
	padding:0;
	font-family: sans-serif;
}
body {
	background: #fef6ba url(../img/bg.jpg) repeat-y;
	background-size: 100%;
	padding-bottom: 20%;
}
a{
	text-decoration: none;
}
ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}
img, article, section{
	width: 100%;
}
img{
	display: block;
}
section{
	padding: 0 4%;
}
p {
	width: 100%;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	line-height: 1.5;
	text-align: justify;
	margin-bottom: .8em;
	word-break: break-all;
}
.btn {
	display: block;
	width: 100%;
	padding: .5em;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	border: none;
	outline: none;
	background: #F29136;
	border-radius: 2px;
}
input[type=text] {
	width: 100%;
	height: 2rem;
	line-height: normal;
	border: none;
	outline: none;
	color: #333;
	text-indent: 1em;
	border-radius: 2px;
	margin-bottom: .6rem;
}

main{
	position: relative;
}
b{
	color: #FFF200;
}
.hide{
	display: none;
}
.hd{
	font-size: 20px;
	padding: .2em;
	font-weight: bold;
	text-align: center;
	color: #d10616;
	background: #F6D7A3;
}
.grid-item{
	width: 50%;
	padding: 8px 5px;
	font-size: 0;
}
.grid-item img{
	border-radius: 2px 2px 0 0;
}
.brief{
	position: relative;
	padding: 5%;
	background: #303282;
	border-radius: 0 0 2px 2px;
}
.grid-item b{
	margin-bottom: .5em;
	font-weight: normal;
}
.grid-item p{
	color: #fff;
	line-height: 1.2;
	margin-bottom: .5em;
	text-align: left;
	word-break: normal;
}
.show-btn{
	position: absolute;
	bottom: -1em;
	left: 0;
	right: 0;
	text-align: center;
	padding: 3px;
	font-size: 16px;
	color: #d10616;
	background: #E9C497;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	border-radius: 0 0 2px 2px;
}
.vote-btn{
	color: #fff;
	text-indent: 0;
	font-size: 14px;
	height: auto;
	padding: .5em;
	background: #1baae7;
	font-weight: bold;
}
.grid-item input[type="checkbox"]{
	display: none;
}
.grid-item > a{
	position: relative;
}
.chosen{
	outline: 2px solid #FF7600;
	outline-offset: -5px;
}
.submit-btn{
	font-size: 16px;
	font-weight: bold;
	margin-top: 1em;
}


.guide{
	position: absolute;
	width: 100%;
	bottom: 2.5rem;
	/*outline: 1px solid red;*/
}
.guide p{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
.big-btn{
	width: 60%;
	height: auto;
	padding: .4em;
	background: #f1344a;
	font-size: 18px;
	border-radius: 100px;
	margin: 0 auto;
}
nav{
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 100;
	background: black;
}
nav ul{
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 0;
}
nav li{
	display: inline-block;
	width: 25%;
	height: 100%;
}
nav a{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	bottom: 0;
	color: rgba(255,255,255,.8);
	font-size: 14px;
	/*outline: 1px solid red;*/
}
nav a span{
	position: absolute;
	display: block;
	width: 100%;
	bottom: 4%;
	text-align: center;
}

.rank table{
	width: 100%;
}
.rank td{
	padding: .5em;
}
.rank tr td{
	background: #fff;
}
.rank thead td{
	background: #EAD3BB;
}

button{
	background: transparent;
	border: none;
	outline: none;
}
.searchbar{
	position: relative;
	width: 96%;
	margin: 0 auto;
	z-index: 20;
}
.searchbar.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	opacity: .8;
}
.searchbar.fixed input[type="text"]:focus{
	box-shadow: none;
}
.searchbar input[type="text"]{
	-webkit-transition: .2s;
	transition: .2s;
}
.searchbar input[type="text"]:focus{
	box-shadow: 0 6px 18px #E6DAB8;
}
.searchbar button{
	position: absolute;
	top: 0;
	right: 2%;
	width: 2rem;
	height: 2rem;
}

.rule h3{
	color: #33397F;
	padding-left: .5em;
	line-height: 1;
	border-left: 4px solid;
}
.rule p{
	color: #333;
}

tr td:first-child{
	text-align: center;
}
.row1 span{
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	background: url(../img/g1.jpg) no-repeat;
	background-size: cover;
}
.row2 span{
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	background: url(../img/g2.jpg) no-repeat;
	background-size: cover;
}
.row3 span{
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	background: url(../img/g3.jpg) no-repeat;
	background-size: cover;
}

.personal p{
	font-size: 14px;
	color: #333;
}
.personal img{
	display: block;
	width: 75%;
	margin: 1.5em auto;
}

/*登录*/
.layer{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,.6);
	z-index: 99;
}
.layer.show{
	display: block;
}
.register{
	position: absolute;
	top: 0;
	left: 10%;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	width: 80%;
	padding: 5%;
	background: #fff;
	box-shadow: 3px 3px 12px rgba(0,0,0,.3);
	border-radius: 4px;
	opacity: 0;
	z-index: 99;
}
.layer.show .register{
	-webkit-animation: drop .3s ease-out forwards;
	animation: drop .3s ease-out forwards;
}
@-webkit-keyframes drop {
	100% {
		-webkit-transform: translate3d(0, 60%, 0);
		opacity: 1;
	}
}
@keyframes drop {
	100% {
		transform: translate3d(0, 60%, 0);
		opacity: 1;
	}
}
.register .info{
	color: #666;
	text-indent: 3em;
	border-bottom: 1px solid #A0A0A0;
	transition: .2s;
}
.register .info:focus{
	opacity: 1;
}
.register .name{
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAACEklEQVRIS+2V0W3bMBCG70C/O50gzgSpIPK5zgbpBI0nsDtB3QnqTFBngiQTRHkmBaYT1J2g8buJKy6gAMUQxRNcwAgQPgmQdB//n3c/EY608EhceFtg7/0JEZ2zW4j4qyiK56HODVJsrZ0i4hwALvdAd0R0bYyppBsQg+u6viKin7HwHyLaRMUTADiNz7OyLNcSuAjsnGOFtwCwRcTFfvG6rhdEtASAMQB81lrf5eBSMKs7JaKLlJ3xGB4AYKO1PjsY3FJ7r7XeP9tX9a21FSJ+kqjOKrbWLhHxGyJ+Lcty1ackWv6DiL4bY9j65BKD+2xuqjd2/xfwEBVD3Mkq9t5PQgi/JU3jnHtpQqXUWVEUL+OWWlkw/9hqmrXWetZVzDnH8/uFiB6NMdODu5oLcESGEFgBz2lFRCtjzD2/i13PacawrVJqIolQkeIIZ8ufIrxL0LNSqshZ3PwoAsdu5bjkeOxbGyKaSTI7C25nNJ8fIq6UUlVjZzyGKREtYnjwjZXN7F5wK7VExfYukt7MToKjEh6jE0kENv63NstnzmPVeVcnwU0YAMCN1voqNx7t963RSkZnEuyc452OlVIfJOPRBke3/vaFTifYe/8xhOClYdDlRhM6ccR4DF+tTvCQsE8dgXOOb7J56nJJKt7tdnz3VpKZTCjmJJuORqN1V6hk53hIUw359h08xK2Dvj2a1f8AWUwrLq04RjMAAAAASUVORK5CYII=") no-repeat 0 50%;
}
.register .tel{
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAACbklEQVRIS8WW0XHaQBCG9+b0blKBkwqCRnvPMRU4rsCmgrgEU0HsCgIVhA5MnnUauYM4FSR+R7OZn7nTLEICLDSDngAN+93u/v/uGTrTY87Epb3gsixHRDRK0/R16AN2gouiuBORHwE4Z+bpkPBWsIK+EdE/IrokokHhO2ANtdZeEdFrVVUrIvo8JHwL3ISmafqC8qLXVVXh82CZ1+AQ/DfEZK1NIzT2tSzLccj8QkRmzrmHU3peg/M8vzLGPIvIL+ccSrzzBHiJvjPzh0HAIeO/+4KqVvxh5o+DgBHEe78komtjzDTLsrkO3NX/vvAtcalyvzjn0hi0KIp7EflORG9QerP/feA7dsrzfGWM+aKzVtmumHnSB9T8Txt4IzL4N6gbAwRtwNi8FJGJcw6+PulpnVyx10T0xMz3AfyViH42D9SX3goOCkeG8GydYTyQiGxpoA+8c0l473cyDAfajE/AkySZpGm6aYWacFgsY2PMPMuyWdeh9q5F7z0sdashGg7Pi8gNeo7f1+v1szFmrGCdi+XgRSCqnIiWzHwTg3rvH4noW/i+EpFRgC6stY9xvHYtloPgRoZLa+00ljf4HlXB8sCzYOa7UPZ6trfBD4JV7zp7G3w+jg5QPdfw2iF4fxS4CYelRGR6jJ/1VrPWforXqKPBCo7e3uK7iDwmSTLTym6qOIAxkLBu+4Fj0FBaHOAC2RPRAzMv9kH1MHpXqVuC4lYCYV2Hd1sH0Jlq0cU47yp12zCAspExFkt4j4GCaxL8jOtxrXT9/5PBMViwFqy06T9WKDTQdUUaDKwshAk2PqT4wcFds7n5+9nA/wHxnpwu0UWbKwAAAABJRU5ErkJggg==") no-repeat 0 50%;
}
.register p{
	margin-bottom: 0;
}

/*.vote-btn i{
	position: absolute;
	font-size: 18px;
	color: #E44A19;
	opacity: 0;
	-webkit-animation: like .6s ease-out;
	animation: like .6s ease-out;
}*/
@-webkit-keyframes like {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	100% {
		transform: translate3d(5em, -5em, 0) scale(1.2);
		opacity: 0;
	}
}
@keyframes like {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	100% {
		transform: translate3d(5em, -5em, 0) scale(1.2);
		opacity: 0;
	}
}

body.index{
	padding-bottom: 0;
}
body.index .nav{
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 0;
}
body.index .nav a{
	display: inline-block;
	width: 50%;
	height: 6rem;
	/*outline: 1px solid red;*/
}
.btn{
	background: #950A0A;
}
.vote-btn{
	margin-top: 1em;
}
.brief{
	background: #fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,.15);
}
.brief p, .brief b{
	color: #950A0A;
}
.brief .num{
	font-size: 14px;
	color: #666;	
}
.upload small{
	display: block;
	text-align: center;
}
.rule h3, .upload p{
	color: #950A0A;
}

/*2017.1 added*/
body{
	padding-bottom: 5%;
}
section{
	padding: 0;
}
.grid-item{
	width: 100%;
	padding: 2%;
}
.grid-item b{
	font-weight: bold;
}
.grid-item .pic{
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	overflow: hidden;
}
.grid-item .con{
	position: relative;
}
.vote-btn{
	position: absolute;
	width: 5em;
	top: 50%;
	right: 5%;
	margin-top: -1em;
}
.vote-btn.voted{
	width: 6em;
}
.submit-btn{
	width: 96%;
	margin: .5em auto;
}

#cover{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background: #db0306;
	z-index: 99;
}
.grid-item h3{
	color: #fff;
	font-size: 12px;
	background: #ca0000;
	padding: .8em;
	text-align: center;
	margin: 0;
	font-weight: normal;
}
.grid-item h3 > b{
	display: block;
	color: yellow;
	font-size: 18px;
	margin-bottom: .2em;
}
.brief .num{
	font-size: 16px;
	color: #ca0000;
	margin-bottom: 0;
}
.brief, .grid-item img{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.btn{
	background: #ca0000;
}
.pic{
	border-left: 2px solid #ca0000;
	border-right: 2px solid #ca0000;
}
.brief{
	border: 2px solid #ca0000;
	border-top: none;
}
main{
	margin-top: -5%;
}