@charset "utf-8";
/* CSS Document*/

*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
input[type="submit"], input[type="reset"], input[type="button"], select, button {
	-webkit-appearance: none;
}
html, body {
	margin:0;
	padding:0;
	font-family: sans-serif;
}
body {
	background: #d8000f;
	padding-bottom: 5%;
}
a{
	text-decoration: none;
}
ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}
img, article, section{
	width: 100%;
}
p {
	width: 90%;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	line-height: 1.5;
	text-align: justify;
	margin-bottom: .8em;
	word-break: break-all;
}
.hide{
	display: none!important;
}
.btn {
	display: block;
	width: 100%;
	padding: .5em 0;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	text-align: center;
	border: none;
	outline: none;
	background: #F29136;
	background: -webkit-gradient(linear, left top, left bottom, from(#F1A21D), to(#F29136));
	background: gradient(linear, left top, left bottom, from(#F1A21D), to(#F29136));
	border-radius: 2px;
}
input[type=text] {
	width: 100%;
	padding: .3em 0;
	border: none;
	outline: none;
	color: #666;
	font-size: 18px;
	text-indent: 1em;
	margin-bottom: .6rem;
	-webkit-transition: .2s ease-out;
		    transition: .2s ease-out;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.show{
	position: relative;
}
.show img{
	width: 100%;
	z-index: -1;
}
.result{
	position: absolute;
	top: 4%;
	left: 5%;
	width: 90%;
	padding-bottom: 90%;
	margin-bottom: 1rem;
}
.result .item{
	position: absolute;
	top: -5%;
	left: -5%;
	right: -5%;
	bottom: -5%;
}

.game{
	position: relative;
}
.game .item{
	margin: 0 auto;
	width: 90%;
	height: 5rem;
	margin-bottom: .6em;
}
.game .unable{
	background: #ccc;
}

.option{
	position: absolute;
	top: 0;
	width: 90%;
	margin: 0 auto;
	font-size: 0;
	z-index: 100;
}
.option li{
	position: relative;
	border: 1px #eee solid;
	display: inline-block;
	width: 33.3%;
	padding-bottom: 33.3%;
	background: #fff;
	color: #ccc;
}
.option li img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.close-btn{
	position: absolute;
	top: -1rem;
	right: -1rem;
	width: 2.5rem;
	height: 2.5rem;
	display: block;
 	background: url(../images/close-btn.gif) no-repeat;
 	background-size: cover;
 	text-indent: -9999em;
 }
 .for-girl{
 	position: absolute;
 	top: 0;
 	right: 0;
 	display: block;
 	width: 30%;
 	height: 30%;
 	background: url(../images/icon.gif) no-repeat;
 	background-size: cover;
 	z-index: 100;
 }

.mask{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background: rgba(0,0,0,.3);
}

.share-btn{
	display: block;
	width: 50%;
	margin: 1em auto;
}
.share .btn{
	width: 60%;
	margin-bottom: .5em;
}

.confirm{
	margin-top: 2rem;
}
.container{
	padding: 0 5%;
}

.register{
	position: absolute;
	top: 25%;
	left: 12.5%;
	width: 75%;
	padding: 5%;
	background: #EDE0B3;
	border-radius: 6px;
	z-index: 100;
}
.register p{
	font-size: 20px;
	font-weight: bold;
	color: #d8000f;
}
.register input[type="text"]{
	box-shadow: none;
	margin-bottom: 1em;
	background: rgba(255,255,255,.6);
	border-radius: 4px;
}

.btn.locked{
	color: #7a7871;
	background: #b6b3a8;
}
.btn{
	padding: .6em;
	font-weight: bold;
}

