@charset "utf-8";
/* CSS Document*/

*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
input[type="submit"], input[type="reset"], input[type="button"], select, button {
	-webkit-appearance: none;
}
html, body {
	margin:0;
	padding:0;
	font-family: sans-serif;
	font-size: 24px;
}
body {
	background: #310000;
}
section {
	margin-bottom: .6rem;
}
img {
	width: 100%;
}
article {
	width: 100%;
}
p {
	width: 90%;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	line-height: 1.5;
	text-align: justify;
	margin-bottom: .8em;
	word-break: break-all;
}
section img {
	margin-bottom: .2rem;
}
.btn {
	display: block;
	width: 100%;
	height: 1.6rem;
	margin: 0 auto;
	color: #fff;
	border: none;
	outline: none;
	background: #F29136;
	background: -webkit-gradient(linear, left top, left bottom, from(#F1A21D), to(#F29136));
	background: gradient(linear, left top, left bottom, from(#F1A21D), to(#F29136));
	font-size: 20px;
	border-radius: 3px;
}
.login .container{
	width:90%;
	margin: 0 auto;
	max-width: 20rem;
}
input[type=text] {
	width:100%;
	height:1.6rem;
	border:none;
	outline: none;
	color:#d81245;
	font-size:18px;
	text-indent:1em;
	border-radius: 3px;
	margin-bottom: .6rem;
	-webkit-transition: .2s ease-out;
		    transition: .2s ease-out;
	background: #F7F0D7;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
input[type=text]:focus {
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
	/*background: #F990A5;*/
	color:#fff;
	/*outline: 3px solid #A76ECC;*/
	outline-offset: -3px; 
}
#outer-cont {
	position: relative;
	width: 100%;
}
#inner-cont {
	position: relative;
	width: 100%;
	top: -232px;
}
#outer {
	width: 310px;
	max-width: 310px;
	height: 310px;
	margin: 0 auto;
}
#inner {
	width: 112px;
	max-width: 112px;
	height: 142px;
	margin: 0 auto;
	cursor: pointer;
}

/*中奖页面*/
.result {
	margin-top:1rem;
}
.result h2 {
	color: white;
	font-size: 18px;
	font-weight: normal;
	width: 80%;
	margin: 0 auto;
	margin-bottom: .1rem;
}
h2.success {
	width: 8rem;
	line-height: 1.2rem;
	font-size: 20px;
	text-align: center;
	padding: 5px;
	background: #EC1134;
	border-radius: 6px;
	font-weight: bold;
	margin-bottom: 1rem;
}
.info{
	width: 86%;
	margin: 0 auto;
	margin-bottom: 1rem;
}
.info th{
	font-weight: normal;
	font-size: 18px;
	color: #fff;
	padding: .5rem;
}
th:first-child{
	text-align: right;
}
th:last-child{
	text-align: left;
}

/*自定义部分*/
.game {
	height: 310px;
	margin-top: -3.6rem;
}
.event img{
	width: 90%;
	margin-left: 5%;
	margin-bottom: .5em;
}
.event{
	margin-top: 1rem;
}
b{
	display: block;
	color: #CF192F;
	font-size: 20px;
}
i{
	display: block;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	color: #FFDA40;
}
.control-group .controls{
	position: relative;
}
.add-on{
	position: absolute;
    top: .36rem;
    right: 10px;
}
i.icon-th{
	background: url("../images/glyphicons-halflings.png");
	background-position: -240px 0;
}

/*pc查看效果 记得注释掉*/
/*body{font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", sans-serif;}*/