body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:1px;
  width:18px;
  height:19px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:20px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:530px;
  width:80px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u4_img.selected {
}
#u4.selected {
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:80px;
  top:530px;
  width:87px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:50px;
}
#u6_img.selected {
}
#u6.selected {
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:247px;
  top:530px;
  width:83px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:167px;
  top:530px;
  width:80px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u10_img.selected {
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:20px;
  width:330px;
  height:510px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:510px;
}
#u14 {
  position:absolute;
  left:2px;
  top:247px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:148px;
  top:30px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:20px;
  top:60px;
  touch-action:pan-y;
}
#u17_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:450px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:450px;
}
#u19 {
  position:absolute;
  left:2px;
  top:217px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:80px;
  top:30px;
  width:130px;
  height:180px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:60px;
  top:330px;
  width:170px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u17_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:450px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:450px;
}
#u23 {
  position:absolute;
  left:2px;
  top:217px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:80px;
  top:30px;
  width:130px;
  height:180px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:60px;
  top:330px;
  width:170px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u17_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:450px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:450px;
}
#u27 {
  position:absolute;
  left:2px;
  top:217px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:80px;
  top:30px;
  width:130px;
  height:180px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  position:absolute;
  left:60px;
  top:330px;
  width:170px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
