body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:1px;
  width:18px;
  height:19px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:20px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:210px;
  top:610px;
  width:124px;
  height:40px;
  font-family:'Consolas Regular', 'Consolas';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:20px;
  width:330px;
  height:560px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:560px;
}
#u6 {
  position:absolute;
  left:2px;
  top:272px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:20px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:0px;
  top:20px;
  width:330px;
  height:560px;
  overflow:hidden;
  visibility:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:560px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:560px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:560px;
}
#u10 {
  position:absolute;
  left:2px;
  top:272px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:140px;
  top:500px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:280px;
  top:20px;
  width:50px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:0px;
  top:700px;
  width:960px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u14 {
  position:absolute;
  left:70px;
  top:740px;
  width:820px;
  height:250px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:250px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  word-wrap:break-word;
}
