body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:1px;
  width:18px;
  height:19px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:20px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:20px;
  width:330px;
  height:510px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:510px;
}
#u4 {
  position:absolute;
  left:2px;
  top:247px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:280px;
  top:20px;
  width:50px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:130px;
  top:430px;
  width:80px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:0px;
  top:530px;
  width:80px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:80px;
  top:530px;
  width:87px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:50px;
}
#u10_img.selected {
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:247px;
  top:530px;
  width:83px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
}
#u12_img.selected {
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:167px;
  top:530px;
  width:80px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u14_img.selected {
}
#u14.selected {
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:70px;
  width:80px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:125px;
  top:70px;
  width:80px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:20px;
  top:240px;
  width:80px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:125px;
  top:250px;
  width:80px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:230px;
  top:250px;
  width:80px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:230px;
  top:70px;
  width:80px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:20px;
  top:430px;
  width:80px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
