@charset "utf-8";
/* CSS Document*/

*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
input[type="submit"], input[type="reset"], input[type="button"], select, button {
	-webkit-appearance: none;
}
html, body {
	margin:0;
	padding:0;
	font-family: sans-serif;
	font-size: 24px;
}
body {
	background: #fa2950;
	padding-bottom:10%;
}
section {
	margin-bottom: .6rem;
}
img {
	width: 100%;
}
article {
	width: 100%;
}
section p {
	width: 85%;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	line-height: 1.5em;
	text-align: justify;
	margin-bottom: 1rem;
	word-break: break-all;
}
section span {
	display: block;
	color: #fcdb25;
	font-size: 20px;
	margin-bottom: .5em;
}
section img {
	margin-bottom: .3rem;
}
.btn {
	display: block;
	width: 100%;
	padding: .4em 0;
	margin: 0 auto;
	color: #C90531;
	border: none;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFE300), to(#FFC900));
	font-size: 20px;
	border-radius: 3px;
	/*box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1),0px 1px 1px rgba(0,0,0,0.18);*/
}
.btn:active {
	background: #FFAF00;
}
.login .container{
	width:90%;
	margin: 0 auto;
	max-width: 20rem;
}
input[type=text] {
	width:100%;
	height:1.6rem;
	border:none;
	outline: none;
	color:#fa2951;
	font-size:18px;
	text-indent:1em;
	border-radius: 3px;
	margin-bottom: .6rem;
	background: #F3E7E7;
	-webkit-transition: .2s ease-out;
		    transition: .2s ease-out;
}
input[type=text]:focus {
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	background: #fff;
}
#outer-cont {
	position: relative;
	width: 100%;
}
#inner-cont {
	position: relative;
	width: 100%;
	top: -232px;
}
#outer {
	width: 310px;
	max-width: 310px;
	height: 310px;
	margin: 0 auto;
}
#inner {
	width: 112px;
	max-width: 112px;
	height: 142px;
	margin: 0 auto;
	cursor: pointer;
}

/*中奖页面*/
.content02 {
	margin-top:1rem;
}
.content02 h2 {
	color: white;
	font-size: 18px;
	font-weight: normal;
	width: 80%;
	margin: 0 auto;
	margin-bottom: .1rem;
}
h2.success {
	width: 8rem;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: 20px;
	text-align: center;
	padding: 5px;
	background: #EC1134;
	border-radius: 6px;
	font-weight: bold;
	margin-bottom: 1rem;
}
.info{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 1rem;
}
.info th{
	font-weight: normal;
	font-size: 18px;
	color: #fff;
	padding: .5rem;
}
th:first-child{
	text-align: right;
}
th:last-child{
	text-align: left;
}

/*自定义部分*/
.game {
	height: 310px;
	margin-top: -.6rem;
}
.qr{
	padding: 5% 25%;
}
.event h3{
	margin: 0 auto;
	padding: 0;
	font-size: 30px;
	color: #fff;
	max-width: 100%;
	margin-bottom: 1rem;
	text-align: center;
}

/*pc查看效果 记得注释掉*/
body{font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", sans-serif;}