@charset "utf-8";
/* CSS Document*/

*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
	margin:0;
	padding:0;
	font-family: sans-serif;
	font-size: 24px;
}
body {
	background: #F6FBFC;
	background-size: 100%;
	color: #666;
}
img {
	width: 100%;
}
a{
	text-decoration: none;
}
p {
	width: 100%;
	font-size: 16px;
	line-height: 1.7;
	text-align: justify;
	word-break: break-all;
}
.btn {
	display: block;
	width: 100%;
	margin: 0 auto;
	color: #666;
	outline: none;
	border: none;
	background: #E9E9E9;
	font-size: 14px;
	padding: .6em;
	text-align: center;
	/*border-radius: 4px;*/
}
input[type=text], input[type=tel]{
	width:100%;
	height:1.6rem;
	border:none;
	outline: none;
	color:#999;
	font-size:18px;
	text-indent:1em;
	background-color:#FFF;
	border-radius: 3px;
	margin-bottom: .6rem;
	opacity: .66;
	-webkit-transition: .2s ease-out;
		    transition: .2s ease-out;
}

ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}
footer{
	font-size: 0;
	margin-top: 10%;
}

/*轮播*/
.container{
	padding: 0 5%;
}
.swiper-slide{
	padding: 0 5%;
}
h3{
	position: relative;
	font-size: 18px;
	margin: 0;
	margin-bottom: .8em;
	color: #1C5ED1;
}
h3:before{
	content: "";
	position: absolute;
	width: 6px;
	top: 0;
	bottom: 0;
	left: -6%;
	background: #1C5ED1;
}
.ques4{
	font-size: 15px;
}
.option li{
	font-size: 16px;
	padding: .4em;
	background: #E5F1F8 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAW0lEQVQoU2NkqLpqwPCfYT4DA6MBA17w/wIDI0MiI0PltQcMjP8DGNq0L+BVDzL4H8MCkIb/DO1ajPhNh8pWXvs/qoFgSJEbSiRGHDQGGRgZ9fGnjP8XGZgYEgDCuka1AYbk7gAAAABJRU5ErkJggg==") no-repeat .5em 50%;
	margin-bottom: 2px;
}
.option label{
	display: block;
	width: 100%;
}
.option .chosen{
	color: #0079D6;
	font-weight: bold;
	box-shadow: inset 0 0 0 2px #0079D6;
	background: #E5F1F8 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAvUlEQVQoU52SsRGCMBiFv3RI5QbWQuEIuoITGDfQTjo7GCNsoBvgEli7gRVi9XvBQ5Ejd8GUuXzvf3n/U/x5VMMdrhpk46ehcrK5eYNJWQBLP5ALabQaA96AGYwBRc4Eoeb5ODWuPCfmpJEmKQ1gcxi02tppv9uH7H0PFIRgsqauCpRaAEPQAGhTFTEE4Z662pHFx469buCOVC2cxVsH5Jj40ZU7qKljr6P32Op0QFs5JdqrOaLMt3JexO+jF/qxXA9FgNVUAAAAAElFTkSuQmCC") no-repeat .5em 50%;
}
.btn{
	margin-top: 1em;
	color: #999;
	font-weight: bold;
}
.to-next.active{
	color: #fff;
	background: #6CCE10;
	box-shadow: 0 6px 20px #BFDBA4;
}
.submit-btn.active{
	color: #fff;
	background: #ec007f;
	box-shadow: 0 6px 20px #F4B5D7;
}
.option input{
	opacity: 0;
}
.swiper-container {
    width: 100%;
    padding-bottom: 15%;
}
.swiper-container-horizontal>.swiper-pagination-progress{
	position: fixed;
	top: auto!important;
	bottom: 0;
}

/*首页*/
.intro p{
	font-size: 14px;
}
b{
	color: #1C5ED1;
	font-size: 13px;
}
.start-btn{
	color: #fff;
	background: #6CCE10;
	animation: shake .6s ease-in-out alternate infinite;
	-webkit-animation: shake .6s ease-in-out alternate infinite;
}

@keyframes shake {
	0% {
		transform: translateY(-3px);
		background: #92D22E;
		box-shadow: 0 6px 20px #BFDBA4;
	}
	100% {
		transform: translateY(3px);
		box-shadow: 0 3px 10px #BFDBA4;
	}
}

@-webkit-keyframes shake {
	0% {
		transform: translateY(-3px);
		-webkit-transform: translateY(-3px);
		background: #92D22E;
		box-shadow: 0 6px 20px #BFDBA4;
	}
	100% {
		transform: translateY(3px);
		-webkit-transform: translateY(3px);
		box-shadow: 0 3px 10px #BFDBA4;
	}
}


/*登录*/
.register{
	padding-top: 5%;
}
.register .info{
	color: #666;
	text-indent: 2em;
	border-bottom: 1px solid #A0A0A0;
	transition: .2s;
}
.register .info:focus{
	opacity: 1;
}
.register .name{
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAACEklEQVRIS+2V0W3bMBCG70C/O50gzgSpIPK5zgbpBI0nsDtB3QnqTFBngiQTRHkmBaYT1J2g8buJKy6gAMUQxRNcwAgQPgmQdB//n3c/EY608EhceFtg7/0JEZ2zW4j4qyiK56HODVJsrZ0i4hwALvdAd0R0bYyppBsQg+u6viKin7HwHyLaRMUTADiNz7OyLNcSuAjsnGOFtwCwRcTFfvG6rhdEtASAMQB81lrf5eBSMKs7JaKLlJ3xGB4AYKO1PjsY3FJ7r7XeP9tX9a21FSJ+kqjOKrbWLhHxGyJ+Lcty1ackWv6DiL4bY9j65BKD+2xuqjd2/xfwEBVD3Mkq9t5PQgi/JU3jnHtpQqXUWVEUL+OWWlkw/9hqmrXWetZVzDnH8/uFiB6NMdODu5oLcESGEFgBz2lFRCtjzD2/i13PacawrVJqIolQkeIIZ8ufIrxL0LNSqshZ3PwoAsdu5bjkeOxbGyKaSTI7C25nNJ8fIq6UUlVjZzyGKREtYnjwjZXN7F5wK7VExfYukt7MToKjEh6jE0kENv63NstnzmPVeVcnwU0YAMCN1voqNx7t963RSkZnEuyc452OlVIfJOPRBke3/vaFTifYe/8xhOClYdDlRhM6ccR4DF+tTvCQsE8dgXOOb7J56nJJKt7tdnz3VpKZTCjmJJuORqN1V6hk53hIUw359h08xK2Dvj2a1f8AWUwrLq04RjMAAAAASUVORK5CYII=") no-repeat 0 50%;
}
.register .tel{
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAACbklEQVRIS8WW0XHaQBCG9+b0blKBkwqCRnvPMRU4rsCmgrgEU0HsCgIVhA5MnnUauYM4FSR+R7OZn7nTLEICLDSDngAN+93u/v/uGTrTY87Epb3gsixHRDRK0/R16AN2gouiuBORHwE4Z+bpkPBWsIK+EdE/IrokokHhO2ANtdZeEdFrVVUrIvo8JHwL3ISmafqC8qLXVVXh82CZ1+AQ/DfEZK1NIzT2tSzLccj8QkRmzrmHU3peg/M8vzLGPIvIL+ccSrzzBHiJvjPzh0HAIeO/+4KqVvxh5o+DgBHEe78komtjzDTLsrkO3NX/vvAtcalyvzjn0hi0KIp7EflORG9QerP/feA7dsrzfGWM+aKzVtmumHnSB9T8Txt4IzL4N6gbAwRtwNi8FJGJcw6+PulpnVyx10T0xMz3AfyViH42D9SX3goOCkeG8GydYTyQiGxpoA+8c0l473cyDAfajE/AkySZpGm6aYWacFgsY2PMPMuyWdeh9q5F7z0sdashGg7Pi8gNeo7f1+v1szFmrGCdi+XgRSCqnIiWzHwTg3rvH4noW/i+EpFRgC6stY9xvHYtloPgRoZLa+00ljf4HlXB8sCzYOa7UPZ6trfBD4JV7zp7G3w+jg5QPdfw2iF4fxS4CYelRGR6jJ/1VrPWforXqKPBCo7e3uK7iDwmSTLTym6qOIAxkLBu+4Fj0FBaHOAC2RPRAzMv9kH1MHpXqVuC4lYCYV2Hd1sH0Jlq0cU47yp12zCAspExFkt4j4GCaxL8jOtxrXT9/5PBMViwFqy06T9WKDTQdUUaDKwshAk2PqT4wcFds7n5+9nA/wHxnpwu0UWbKwAAAABJRU5ErkJggg==") no-repeat 0 50%;
}
.register p{
	margin-bottom: 0;
}

