@charset "utf-8";
/* CSS Document*/

*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
input[type="submit"], input[type="reset"], input[type="button"], select, button {
	-webkit-appearance: none;
}
html, body {
	margin:0;
	padding:0;
	font-family: sans-serif;
	font-size: 24px;
}
body {
	background: #fff;
}
section {
	margin-bottom: .6rem;
}
img {
	width: 100%;
}
article {
	width: 100%;
}
p {
	width: 85%;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	line-height: 1.5;
	text-align: justify;
	margin-bottom: .8em;
	word-break: break-all;
}
section img {
	margin-bottom: .2rem;
}
.btn {
	display: block;
	width: 100%;
	padding: .4em 0;
	margin: 0 auto;
	color: #C90531;
	border: none;
	outline: none;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#FFE300), to(#FFC900));*/
	background: #FFC900;
    background-image: repeating-linear-gradient(30deg,
                        hsla(0,0%,100%,.2),
                        hsla(0,0%,100%,.2) 15px,
                        transparent 0, transparent 30px);
	font-size: 20px;
	border-radius: 3px;
	box-shadow: inset 0 -3px 0 #F1AA1D;
}
.btn:active {
	background: #FFAF00;
	box-shadow: inset 0 -1px 0 #F1AA1D;
	background-image: repeating-linear-gradient(30deg,
	                    hsla(0,0%,100%,.2),
	                    hsla(0,0%,100%,.2) 15px,
	                    transparent 0, transparent 30px);
}
.login .container{
	width:90%;
	margin: 0 auto;
	max-width: 20rem;
}
input[type=text] {
	width:100%;
	height:1.6rem;
	border:none;
	outline: none;
	color:#A90B0B;
	font-size:18px;
	text-indent:1em;
	border-radius: 3px;
	margin-bottom: .6rem;
	-webkit-transition: .2s ease-out;
		    transition: .2s ease-out;
	background: #EFEFEF;
}
input[type=text]:focus {
	box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
	background: #D10000;
	color:#fff;
}
#outer-cont {
	position: relative;
	width: 100%;
}
#inner-cont {
	position: relative;
	width: 100%;
	top: -232px;
}
#outer {
	width: 310px;
	max-width: 310px;
	height: 310px;
	margin: 0 auto;
}
#inner {
	width: 112px;
	max-width: 112px;
	height: 142px;
	margin: 0 auto;
	cursor: pointer;
}

/*中奖页面*/
.result {
	margin-top:1rem;
}
.result h2 {
	color: white;
	font-size: 18px;
	font-weight: normal;
	width: 80%;
	margin: 0 auto;
	margin-bottom: .1rem;
}
h2.success {
	width: 8rem;
	line-height: 1.2rem;
	font-size: 20px;
	text-align: center;
	padding: 5px;
	background: #EC1134;
	border-radius: 6px;
	font-weight: bold;
	margin-bottom: 1rem;
}
.info{
	width: 86%;
	margin: 0 auto;
	margin-bottom: 1rem;
}
.info th{
	font-weight: normal;
	font-size: 18px;
	color: #fff;
	padding: .5rem;
}
th:first-child{
	text-align: right;
}
th:last-child{
	text-align: left;
}

/*自定义部分*/
.game {
	height: 310px;
	margin-top: -.6rem;
}
p{
	color: #4D4D4D;
}
.event{
	margin-top: 1rem;
}
.event b{
	color: #D10000;
	display: block;
	font-size: 20px;
}
.event i{
	font-weight: bold;
	font-style: normal;
	color: #D10000;
}
.center{
	text-align: center;
}

/*pc查看效果 记得注释掉*/
body{font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", sans-serif;}