html, body{
	margin: 0;
	padding: 0;
}
p{
	color: red;
}
.box{ 
	margin-bottom: 10%;
	width: 50%;
	height: 0;
	padding-bottom: 50%;
	background: -webkit-image-set(
	url(images/sb-4.jpg) 1x, 
	url(images/sb-4-2x.jpg) 2x)
	no-repeat;/* Retina */
	background-size: cover;
	}