/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

body{
	font: normal 16px/1.6 "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/*头部*/
.navbar{
	height: 60px!important;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown{
	height: 60px;
}
.navbar-nav > li > a, .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle{
	padding: 20px 15px 18px 15px;
}
.top-menu .nav>li>a{
	color: #92ACC2;
}
.top-menu .nav>li>a:focus, .nav>li>a:hover{
	color: #A4BFD5;
	background: #3f4f62;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > i{
	font-size: 18px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > .badge{
	top: 12px;
	right: 24px;
}

.top-nav{
	color: #fff;
	background: #000;
	border: 1px dashed #333;
}

/*侧边栏*/
.page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-menu > li.open > a{
	border-left: 4px solid #ffb848!important;
	-webkit-transition: .1s ease-in;
	transition: .1s ease-in;
}
.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a{
	background: #ffb848;
}
body.theme-tree, .theme-tree .page-sidebar{
	background: #E3EAEC;
}
.sidebar-tree{
	width: 280px;
}
.sidebar-tree li a{
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.theme-tree .page-content{
	margin-left: 280px;
}

/*内容页*/
.page-header-fixed .page-container{
	margin-top: 60px;
}
.page-content-wrapper .page-content{
	min-height: 800px;
}
.page-title small{
	margin-left: .5em;
}
#sample_editable_1_new{
	margin-right: 1em;
}
.table-toolbar .table-btn{
	border-radius: 4px!important;
}
table{
	font-size: 15px;
}
.btn-group .btn.filter-btn{
	margin-left: .5em;
	border-radius: 4px!important;
}
.filter-btn i{
	margin-left: .3em;
}
.filter-wrap{
	display: none;
	background: #FBF9F2;
	height: 200px;
	border: 1px solid #F3EDD8;
	margin-top: 15px;
}

/*登录页*/
h3{
	font-family: inherit!important;
}
.login .content .form-actions{
	padding-bottom: 0;
}
.login .form-group{
	position: relative;
}
.login .form-group i{
	position: absolute;
	left: .5em;
	top: 12px;
	color: #8290a3;
}
.login .form-control{
	text-indent: 1.2em;
}
.alert{
	margin-top: 15px;
	margin-bottom: 0;
}